**About Book Crossing Dataset**<br>

This dataset has been compiled by Cai-Nicolas Ziegler in 2004, and it comprises of three tables for users, books and ratings. Explicit ratings are expressed on a scale from 1-10 (higher values denoting higher appreciation) and implicit rating is expressed by 0.

Reference: http://www2.informatik.uni-freiburg.de/~cziegler/BX/

**Objective**

This project entails building a Book Recommender System for users based on user-based and item-based collaborative filtering approaches.

#### Execute the below cell to load the datasets

In [520]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [521]:
#Loading data
books = pd.read_csv("books.csv", sep=";", error_bad_lines=False, encoding="latin-1")
books.columns = ['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher', 'imageUrlS', 'imageUrlM', 'imageUrlL']

users = pd.read_csv('users.csv', sep=';', error_bad_lines=False, encoding="latin-1")
users.columns = ['userID', 'Location', 'Age']

ratings = pd.read_csv('ratings.csv', sep=';', error_bad_lines=False, encoding="latin-1")
ratings.columns = ['userID', 'ISBN', 'bookRating']

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'

### Check no.of records and features given in each dataset

In [522]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
ISBN                 271360 non-null object
bookTitle            271360 non-null object
bookAuthor           271359 non-null object
yearOfPublication    271360 non-null object
publisher            271358 non-null object
imageUrlS            271360 non-null object
imageUrlM            271360 non-null object
imageUrlL            271357 non-null object
dtypes: object(8)
memory usage: 16.6+ MB

In [523]:
print('no. of records and features in books dataframe:' , books.shape)

no. of records and features in books dataframe: (271360, 8)

In [524]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
userID      278858 non-null int64
Location    278858 non-null object
Age         168096 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [525]:
print('no. of records and features in users dataframe:' , users.shape)

no. of records and features in users dataframe: (278858, 3)

In [526]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
userID        1149780 non-null int64
ISBN          1149780 non-null object
bookRating    1149780 non-null int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [527]:
print('no. of records and features in ratings dataframe:' , ratings.shape)

no. of records and features in ratings dataframe: (1149780, 3)

## Exploring books dataset

In [528]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher,imageUrlS,imageUrlM,imageUrlL
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

### Drop last three columns containing image URLs which will not be required for analysis

In [529]:
books=books.iloc[:,:-3]

In [530]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

**yearOfPublication**

### Check unique values of yearOfPublication

In [531]:
books['yearOfPublication'].unique()

array([2002, 2001, 1991, 1999, 2000, 1993, 1996, 1988, 2004, 1998, 1994,
       2003, 1997, 1983, 1979, 1995, 1982, 1985, 1992, 1986, 1978, 1980,
       1952, 1987, 1990, 1981, 1989, 1984, 0, 1968, 1961, 1958, 1974,
       1976, 1971, 1977, 1975, 1965, 1941, 1970, 1962, 1973, 1972, 1960,
       1966, 1920, 1956, 1959, 1953, 1951, 1942, 1963, 1964, 1969, 1954,
       1950, 1967, 2005, 1957, 1940, 1937, 1955, 1946, 1936, 1930, 2011,
       1925, 1948, 1943, 1947, 1945, 1923, 2020, 1939, 1926, 1938, 2030,
       1911, 1904, 1949, 1932, 1928, 1929, 1927, 1931, 1914, 2050, 1934,
       1910, 1933, 1902, 1924, 1921, 1900, 2038, 2026, 1944, 1917, 1901,
       2010, 1908, 1906, 1935, 1806, 2021, '2000', '1995', '1999', '2004',
       '2003', '1990', '1994', '1986', '1989', '2002', '1981', '1993',
       '1983', '1982', '1976', '1991', '1977', '1998', '1992', '1996',
       '0', '1997', '2001', '1974', '1968', '1987', '1984', '1988',
       '1963', '1956', '1970', '1985', '1978', '1973', '1980', '1979',
       '1975', '1969', '1961', '1965', '1939', '1958', '1950', '1953',
       '1966', '1971', '1959', '1972', '1955', '1957', '1945', '1960',
       '1967', '1932', '1924', '1964', '2012', '1911', '1927', '1948',
       '1962', '2006', '1952', '1940', '1951', '1931', '1954', '2005',
       '1930', '1941', '1944', 'DK Publishing Inc', '1943', '1938',
       '1900', '1942', '1923', '1920', '1933', 'Gallimard', '1909',
       '1946', '2008', '1378', '2030', '1936', '1947', '2011', '2020',
       '1919', '1949', '1922', '1897', '2024', '1376', '1926', '2037'],
      dtype=object)

As it can be seen from above that there are some incorrect entries in this field. It looks like Publisher names 'DK Publishing Inc' and 'Gallimard' have been incorrectly loaded as yearOfPublication in dataset due to some errors in csv file.


Also some of the entries are strings and same years have been entered as numbers in some places. We will try to fix these things in the coming questions.

### Check the rows having 'DK Publishing Inc' as yearOfPublication

In [532]:
books[books['yearOfPublication']=='DK Publishing Inc' ]

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
209538,078946697X,"DK Readers: Creating the X-Men, How It All Beg...",2000,DK Publishing Inc,http://images.amazon.com/images/P/078946697X.0...
221678,0789466953,"DK Readers: Creating the X-Men, How Comic Book...",2000,DK Publishing Inc,http://images.amazon.com/images/P/0789466953.0...

### Drop the rows having `'DK Publishing Inc'` and `'Gallimard'` as `yearOfPublication`

In [533]:
books[(books['yearOfPublication'] == 'DK Publishing Inc') | (books['yearOfPublication'] == 'Gallimard')]

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
209538,078946697X,"DK Readers: Creating the X-Men, How It All Beg...",2000,DK Publishing Inc,http://images.amazon.com/images/P/078946697X.0...
220731,2070426769,"Peuple du ciel, suivi de 'Les Bergers\"";Jean-M...",2003,Gallimard,http://images.amazon.com/images/P/2070426769.0...
221678,0789466953,"DK Readers: Creating the X-Men, How Comic Book...",2000,DK Publishing Inc,http://images.amazon.com/images/P/0789466953.0...

In [534]:
books[(books['yearOfPublication'] == 'DK Publishing Inc') | (books['yearOfPublication'] == 'Gallimard')].index

Int64Index([209538, 220731, 221678], dtype='int64')

In [535]:
index1=books[(books['yearOfPublication'] == 'DK Publishing Inc') | (books['yearOfPublication'] == 'Gallimard')].index

In [536]:
books.drop(index1,inplace=True)

In [537]:
books.shape

(271357, 5)

### Change the datatype of yearOfPublication to 'int'

In [538]:
books['yearOfPublication']=books['yearOfPublication'].astype(int)

In [539]:
books.dtypes

ISBN                 object
bookTitle            object
bookAuthor           object
yearOfPublication     int32
publisher            object
dtype: object

### Drop NaNs in `'publisher'` column

In [540]:
books.isna().sum()

ISBN                 0
bookTitle            0
bookAuthor           1
yearOfPublication    0
publisher            2
dtype: int64

In [541]:
books[books['publisher'].isna()==True]

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
128890,193169656X,Tyrant Moon,Elaine Corvidae,2002,NaN
129037,1931696993,Finders Keepers,Linnea Sinclair,2001,NaN

In [542]:
books.dropna(subset=['publisher'],inplace=True)

In [543]:
books.shape

(271355, 5)

## Exploring Users dataset

In [544]:
print(users.shape)
users.head()

(278858, 3)

   userID                            Location   Age
0       1                  nyc, new york, usa   NaN
1       2           stockton, california, usa  18.0
2       3     moscow, yukon territory, russia   NaN
3       4           porto, v.n.gaia, portugal  17.0
4       5  farnborough, hants, united kingdom   NaN

### Get all unique values in ascending order for column `Age`

In [545]:
np.sort(users['Age'].unique())

array([  0.,   1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,
        11.,  12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,
        22.,  23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,
        33.,  34.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,
        44.,  45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,
        55.,  56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,
        66.,  67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,
        77.,  78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,
        88.,  89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,
        99., 100., 101., 102., 103., 104., 105., 106., 107., 108., 109.,
       110., 111., 113., 114., 115., 116., 118., 119., 123., 124., 127.,
       128., 132., 133., 136., 137., 138., 140., 141., 143., 146., 147.,
       148., 151., 152., 156., 157., 159., 162., 168., 172., 175., 183.,
       186., 189., 199., 200., 201., 204., 207., 208., 209., 210., 212.,
       219., 220., 223., 226., 228., 229., 230., 231., 237., 239., 244.,
        nan])

Age column has some invalid entries like nan, 0 and very high values like 100 and above

### Values below 5 and above 90 do not make much sense for our book rating case...hence replace these by NaNs

In [546]:
users['Age'] = np.where((users['Age'] >=5) & (users['Age']<=90),users['Age'],np.nan)

In [547]:
np.sort(users['Age'].unique())

array([ 5.,  6.,  7.,  8.,  9., 10., 11., 12., 13., 14., 15., 16., 17.,
       18., 19., 20., 21., 22., 23., 24., 25., 26., 27., 28., 29., 30.,
       31., 32., 33., 34., 35., 36., 37., 38., 39., 40., 41., 42., 43.,
       44., 45., 46., 47., 48., 49., 50., 51., 52., 53., 54., 55., 56.,
       57., 58., 59., 60., 61., 62., 63., 64., 65., 66., 67., 68., 69.,
       70., 71., 72., 73., 74., 75., 76., 77., 78., 79., 80., 81., 82.,
       83., 84., 85., 86., 87., 88., 89., 90., nan])

### Replace null values in column `Age` with mean

In [548]:
np.mean(users['Age'])

34.72384041634689

In [549]:
users['Age'].fillna(np.mean(users['Age']),inplace=True)

In [550]:
np.sort(users['Age'].unique())

array([ 5.        ,  6.        ,  7.        ,  8.        ,  9.        ,
       10.        , 11.        , 12.        , 13.        , 14.        ,
       15.        , 16.        , 17.        , 18.        , 19.        ,
       20.        , 21.        , 22.        , 23.        , 24.        ,
       25.        , 26.        , 27.        , 28.        , 29.        ,
       30.        , 31.        , 32.        , 33.        , 34.        ,
       34.72384042, 35.        , 36.        , 37.        , 38.        ,
       39.        , 40.        , 41.        , 42.        , 43.        ,
       44.        , 45.        , 46.        , 47.        , 48.        ,
       49.        , 50.        , 51.        , 52.        , 53.        ,
       54.        , 55.        , 56.        , 57.        , 58.        ,
       59.        , 60.        , 61.        , 62.        , 63.        ,
       64.        , 65.        , 66.        , 67.        , 68.        ,
       69.        , 70.        , 71.        , 72.        , 73.        ,
       74.        , 75.        , 76.        , 77.        , 78.        ,
       79.        , 80.        , 81.        , 82.        , 83.        ,
       84.        , 85.        , 86.        , 87.        , 88.        ,
       89.        , 90.        ])

### Change the datatype of `Age` to `int`

In [551]:
users['Age']=users['Age'].astype('int')

In [552]:
print(sorted(users.Age.unique()))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]

## Exploring the Ratings Dataset

### check the shape

In [553]:
ratings.shape

(1149780, 3)

In [554]:
n_users = users.shape[0]
n_books = books.shape[0]

In [555]:
ratings.head(5)

   userID        ISBN  bookRating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

### Ratings dataset should have books only which exist in our books dataset. Drop the remaining rows

In [556]:
ratings=pd.merge(ratings,books,on='ISBN',how='inner').iloc[:,:3]

In [557]:
ratings.head()

   userID        ISBN  bookRating
0  276725  034545104X           0
1    2313  034545104X           5
2    6543  034545104X           0
3    8680  034545104X           5
4   10314  034545104X           9

In [558]:
ratings.shape

(1031130, 3)

### Ratings dataset should have ratings from users which exist in users dataset. Drop the remaining rows

In [559]:
ratings=pd.merge(ratings,users,on='userID',how='inner').iloc[:,:3]

In [560]:
ratings.head()

   userID        ISBN  bookRating
0  276725  034545104X           0
1    2313  034545104X           5
2    2313  0812533550           9
3    2313  0679745580           8
4    2313  0060173289           9

In [561]:
ratings.shape

(1031130, 3)

### Consider only ratings from 1-10 and leave 0s in column `bookRating`

In [562]:
ratings['bookRating'].value_counts()

0     647291
8      91804
10     71225
7      66401
9      60776
5      45355
6      31687
4       7617
3       5118
2       2375
1       1481
Name: bookRating, dtype: int64

In [563]:
ratings['bookRating'].replace(0,np.nan,inplace=True)

In [564]:
ratings.dropna(subset=['bookRating'],inplace=True)

In [565]:
ratings['bookRating'].value_counts()

8.0     91804
10.0    71225
7.0     66401
9.0     60776
5.0     45355
6.0     31687
4.0      7617
3.0      5118
2.0      2375
1.0      1481
Name: bookRating, dtype: int64

In [566]:
ratings.shape

(383839, 3)

### Find out which rating has been given highest number of times

In [567]:
ratings['bookRating'].value_counts()

8.0     91804
10.0    71225
7.0     66401
9.0     60776
5.0     45355
6.0     31687
4.0      7617
3.0      5118
2.0      2375
1.0      1481
Name: bookRating, dtype: int64

Rating 8 was given highest number of times.

### **Collaborative Filtering Based Recommendation Systems**

### For more accurate results only consider users who have rated atleast 100 books

In [568]:
ratings.head()

   userID        ISBN  bookRating
1    2313  034545104X         5.0
2    2313  0812533550         9.0
3    2313  0679745580         8.0
4    2313  0060173289         9.0
5    2313  0385482388         5.0

In [569]:
RatingCount=ratings.groupby(by='userID').count()

In [570]:
RatingCount.head()

        ISBN  bookRating
userID
8          7           7
9          1           1
12         1           1
14         3           3
16         1           1

In [571]:
Rate_100books=RatingCount[RatingCount['bookRating']>=100]

In [572]:
Rate_100books.head()

        ISBN  bookRating
userID
2033     129         129
2110     103         103
2276     196         196
4017     154         154
4385     212         212

In [573]:
Rate_100books.shape

(449, 2)

In [574]:
Rate_100books.index

Int64Index([  2033,   2110,   2276,   4017,   4385,   5582,   6242,   6251,
              6543,   6575,
            ...
            269566, 270713, 271448, 271705, 273113, 274061, 274301, 275970,
            277427, 278418],
           dtype='int64', name='userID', length=449)

In [575]:
ratings = ratings[ratings['userID'].isin(Rate_100books.index)]

In [576]:
ratings.head()

    userID        ISBN  bookRating
43    6543  0446605484        10.0
47    6543  0805062971         8.0
48    6543  0345342968         8.0
49    6543  0446610038         9.0
55    6543  0061009059         8.0

In [577]:
ratings.shape

(103269, 3)

### Generating ratings matrix from explicit ratings

#### Note: since NaNs cannot be handled by training algorithms, replace these by 0, which indicates absence of ratings

In [578]:
ratings['bookRating'].value_counts()

8.0     23904
10.0    22904
9.0     18552
7.0     15242
5.0     13314
6.0      6500
4.0      1260
3.0       772
2.0       440
1.0       381
Name: bookRating, dtype: int64

there are no Nans in the given rating means no absence of ratings.

In [579]:
from sklearn.model_selection import train_test_split

trainDF, tempDF = train_test_split(ratings, test_size = 0.2, random_state = 100)

In [580]:
testDF = tempDF.copy()

In [581]:
tempDF.bookRating = np.nan

In [582]:
tempDF.head()

        userID        ISBN  bookRating
446631  197659  0842304673         NaN
135668  184299  0345358791         NaN
84242   115003  1400031354         NaN
193585  153662  0380761319         NaN
103772   16795  0394891139         NaN

In [583]:
testDF = testDF.dropna()

In [584]:
testDF.head()

        userID        ISBN  bookRating
446631  197659  0842304673         7.0
135668  184299  0345358791         8.0
84242   115003  1400031354         9.0
193585  153662  0380761319        10.0
103772   16795  0394891139         6.0

In [585]:
ratings = pd.concat([trainDF, tempDF]).reset_index()

In [586]:
ratings

         index  userID        ISBN  bookRating
0       425933  150979  0679460152         9.0
1       278665   60244  0393049566         7.0
2         8536   98391  067104222X         9.0
3       145844  207782  0874060273         7.0
4       264590  189835  1560549653         5.0
5       260876   94347  0425061426         6.0
6       220575   16634  0441010512         7.0
7        86428  140358  0345409469         5.0
8       291060   76626  0140283587         7.0
9        76835   60337  0689111940         7.0
10      235639  177458  0071355766         6.0
11      236028  177458  0785811915         8.0
12      436105   89602  0375705856         5.0
13      552934  134434  2070419878         8.0
14      698184  212965  0821760955         5.0
15      588110   70594  0786709421         8.0
16      308941   68555  0380470845         6.0
17      764034  109955  033035034X        10.0
18      185145   78973  0786219963         7.0
19      866790  163759  0671501070         5.0
20      693712  248718  0671626957         6.0
21      578437  239584  0743202198        10.0
22      675669  233911  0060523182        10.0
23      475204  189973  0671888773         7.0
24      426126  150979  0553255991         8.0
25      430227   83671  037575248X         9.0
26        9200   98391  0821776991         8.0
27      264452  189835  0375757813         5.0
28      404163  209516  0140431357        10.0
29      352292   60707  0312983298         7.0
...        ...     ...         ...         ...
103239  324684  217740  1583487840         NaN
103240    5705   98391  0553583549         NaN
103241  404374  209516  0312298994         NaN
103242  451627  162738  0316969680         NaN
103243  156653  274061  0671041789         NaN
103244   29678   11676  0376032634         NaN
103245  436648  128835  0440211263         NaN
103246  172233  236283  0670691992         NaN
103247  577256  225595  1568582412         NaN
103248  491929  240567  0822202557         NaN
103249  112380   38023  039541105X         NaN
103250  424246   67840  0451207246         NaN
103251  435523  271705  0486411400         NaN
103252  309261   68555  0062511661         NaN
103253  786180  123094  0671447483         NaN
103254    7019   98391  0156027054         NaN
103255  603107   23902  0684160323         NaN
103256   34880   11676  8402068820         NaN
103257  627104   55187  0310201462         NaN
103258  480048   56554  0373250371         NaN
103259  630780   92652  1569248575         NaN
103260   92070  183995  1856978087         NaN
103261  543145   26535  0373076673         NaN
103262  445642  122429  0807070823         NaN
103263    9294   98391  0892967757         NaN
103264  324133  216444  0380708566         NaN
103265  147947  225087  0399145990         NaN
103266    8394   98391  0515130621         NaN
103267  160796   95359  0440112885         NaN
103268   25634   11676  055356160X         NaN

[103269 rows x 4 columns]

In [587]:
ratings.fillna(0,inplace=True)

In [588]:
ratings.isna().sum()

index         0
userID        0
ISBN          0
bookRating    0
dtype: int64

### Generate the predicted ratings using SVD with no.of singular values to be 50

In [589]:
R_df = ratings.pivot(index = 'userID', columns = 'ISBN', values = 'bookRating').fillna(0)

In [590]:
R_df.tail()

ISBN,0000913154,0001046438,000104687X,0001047213,0001047973,000104799X,0001048082,0001053736,0001053744,0001055607,...,B000092Q0A,B00009EF82,B00009NDAN,B0000DYXID,B0000T6KHI,B0000VZEJQ,B0000X8HIE,B00013AX9E,B0001I1KOG,B000234N3A
userID,,,,,,,,,,,,,,,,,,,,,
274061,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
274301,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
275970,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
277427,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278418,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [591]:
from scipy.sparse.linalg import svds

In [592]:
U, sigma, Vt = svds(R_df, k = 50)

In [593]:
sigma

array([131.07954208, 132.44479902, 132.61470995, 133.96010817,
       134.94232624, 136.38117803, 137.0634911 , 138.04647807,
       140.45935247, 141.29908114, 142.26811037, 143.88305269,
       144.27243066, 144.93753168, 149.39109893, 149.62291223,
       149.94512384, 152.15710138, 152.98116567, 154.23600256,
       155.64958852, 156.98587955, 158.30450983, 161.41139495,
       164.36235669, 164.60938522, 166.22369888, 168.8872909 ,
       173.19509942, 174.99507662, 176.37245022, 178.41205733,
       180.20327794, 181.26833216, 184.19621481, 186.26397001,
       190.17666439, 194.12064112, 202.52424067, 206.23585733,
       210.1876945 , 219.80287636, 223.09823012, 232.70628393,
       237.36014895, 252.56483856, 257.35846413, 338.84909015,
       567.12180411, 605.76299262])

In [594]:
sigma = np.diag(sigma)

In [595]:
sigma

array([[131.07954208,   0.        ,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [  0.        , 132.44479902,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [  0.        ,   0.        , 132.61470995, ...,   0.        ,
          0.        ,   0.        ],
       ...,
       [  0.        ,   0.        ,   0.        , ..., 338.84909015,
          0.        ,   0.        ],
       [  0.        ,   0.        ,   0.        , ...,   0.        ,
        567.12180411,   0.        ],
       [  0.        ,   0.        ,   0.        , ...,   0.        ,
          0.        , 605.76299262]])

In [596]:
all_users_predicted_ratings = np.dot(np.dot(U, sigma), Vt)

In [597]:
preds_df = pd.DataFrame(all_users_predicted_ratings, columns = R_df.columns)

In [598]:
preds_df

ISBN,0000913154,0001046438,000104687X,0001047213,0001047973,000104799X,0001048082,0001053736,0001053744,0001055607,...,B000092Q0A,B00009EF82,B00009NDAN,B0000DYXID,B0000T6KHI,B0000VZEJQ,B0000X8HIE,B00013AX9E,B0001I1KOG,B000234N3A
0,0.007815,-0.012798,-0.008532,-0.012798,0.0,0.005981,-0.002933,0.010925,0.010925,0.014187,...,0.001694,0.001188,0.013656,0.0,0.0,0.003294,0.014820,0.001129,0.003141,0.025547
1,-0.009052,-0.003543,-0.002362,-0.003543,0.0,0.001077,0.003381,-0.001985,-0.001985,0.002332,...,-0.000213,0.000924,0.006919,0.0,0.0,0.002442,0.000632,-0.000142,0.000155,-0.011345
2,-0.007289,-0.014245,-0.009497,-0.014245,0.0,0.008952,0.004210,0.015236,0.015236,0.020061,...,0.001029,-0.000127,0.048170,0.0,0.0,0.010027,0.003202,0.000686,0.009559,-0.053938
3,-0.020563,0.036033,0.024022,0.036033,0.0,0.027612,0.001397,0.003328,0.003328,0.064300,...,0.004822,0.000270,0.086069,0.0,0.0,0.023547,0.010329,0.003214,0.024629,-0.054396
4,-0.001996,-0.004971,-0.003314,-0.004971,0.0,0.002777,0.003071,-0.000250,-0.000250,0.006595,...,0.001129,0.000011,0.001815,0.0,0.0,0.003064,-0.001733,0.000753,0.002813,0.043207
5,0.002886,0.024017,0.016012,0.024017,0.0,0.007126,0.001949,-0.007713,-0.007713,0.016297,...,0.001977,0.000471,0.019840,0.0,0.0,0.006871,0.003491,0.001318,0.005549,0.095981
6,-0.015164,0.037423,0.024949,0.037423,0.0,0.012221,0.004590,-0.009147,-0.009147,0.027800,...,0.002001,-0.000293,0.028798,0.0,0.0,0.009141,0.004512,0.001334,0.010302,0.012920
7,0.008502,0.011246,0.007497,0.011246,0.0,0.025981,-0.012858,0.025985,0.025985,0.055775,...,0.002708,0.001801,0.070756,0.0,0.0,0.016543,0.026284,0.001805,0.016773,-0.029342
8,0.031977,-0.021332,-0.014221,-0.021332,0.0,0.015388,0.003333,-0.012689,-0.012689,0.031379,...,0.002464,0.001298,0.044266,0.0,0.0,0.009379,0.007422,0.001642,0.010417,-0.028545
9,0.037238,0.046507,0.031005,0.046507,0.0,0.043128,0.006078,-0.014510,-0.014510,0.087791,...,0.004656,-0.001341,0.128374,0.0,0.0,0.030903,0.014746,0.003104,0.031449,-0.071833
10,-0.005384,-0.003665,-0.002443,-0.003665,0.0,0.002330,0.002596,-0.002402,-0.002402,0.006880,...,0.000759,-0.000108,0.006023,0.0,0.0,0.002212,0.001294,0.000506,0.002243,-0.009579
11,0.021808,-0.034526,-0.023017,-0.034526,0.0,0.046949,0.003215,-0.013958,-0.013958,0.102539,...,0.000809,0.002834,0.193126,0.0,0.0,0.020341,0.045162,0.000540,0.026132,0.052941
12,-0.018137,-0.004449,-0.002966,-0.004449,0.0,0.010030,-0.012566,-0.006510,-0.006510,0.009371,...,-0.000143,0.000202,0.050465,0.0,0.0,0.006573,0.004073,-0.000096,0.005408,-0.042887
13,0.010346,0.010877,0.007252,0.010877,0.0,0.012204,0.004969,0.001509,0.001509,0.025103,...,0.001329,-0.000150,0.043360,0.0,0.0,0.010252,0.002912,0.000886,0.008592,0.057801
14,-0.018984,-0.013934,-0.009290,-0.013934,0.0,0.008037,0.000727,0.001790,0.001790,0.019833,...,0.003542,0.000920,0.017267,0.0,0.0,0.005933,0.004716,0.002362,0.007348,0.065623
15,-0.000059,0.000115,0.000076,0.000115,0.0,-0.000013,-0.000052,-0.000007,-0.000007,-0.000008,...,0.000003,-0.000001,-0.000082,0.0,0.0,-0.000008,-0.000013,0.000002,0.000003,-0.000224
16,0.010575,-0.019540,-0.013027,-0.019540,0.0,0.012091,0.001462,-0.010757,-0.010757,0.028869,...,0.000966,0.000076,0.048332,0.0,0.0,0.015220,0.006320,0.000644,0.009882,0.013931
17,0.000965,-0.001419,-0.000946,-0.001419,0.0,0.003714,-0.001364,0.000313,0.000313,0.003991,...,0.004806,0.006157,-0.007325,0.0,0.0,0.010695,-0.002169,0.003204,0.003050,0.002274
18,0.013841,-0.007794,-0.005196,-0.007794,0.0,0.004468,0.001054,-0.002488,-0.002488,0.007489,...,-0.000047,0.001108,0.026014,0.0,0.0,0.002532,0.003263,-0.000031,0.001773,0.059793
19,0.042565,-0.006316,-0.004210,-0.006316,0.0,0.002614,0.008052,0.001114,0.001114,0.007310,...,0.000279,0.000536,0.004586,0.0,0.0,0.002190,0.002166,0.000186,0.003316,-0.028312
20,-0.011674,-0.006663,-0.004442,-0.006663,0.0,0.001870,0.020816,0.004879,0.004879,0.004823,...,-0.000020,0.000871,0.027523,0.0,0.0,0.001645,0.001727,-0.000013,0.000431,0.012611
21,-0.016649,0.016429,0.010952,0.016429,0.0,0.004331,0.010824,-0.004623,-0.004623,0.004692,...,0.000982,-0.000966,0.032266,0.0,0.0,0.008655,0.003341,0.000654,0.001524,-0.065204
22,-0.017206,-0.000861,-0.000574,-0.000861,0.0,0.002847,0.019488,-0.014326,-0.014326,-0.014127,...,-0.000735,0.002514,0.052709,0.0,0.0,0.003281,-0.005348,-0.000490,-0.004837,-0.073807
23,0.052689,0.015785,0.010523,0.015785,0.0,0.006449,0.010405,-0.009156,-0.009156,0.015761,...,0.001188,-0.000934,0.025052,0.0,0.0,0.003405,0.004222,0.000792,0.004969,-0.030388
24,-0.016518,0.000718,0.000479,0.000718,0.0,0.009494,0.006644,-0.009018,-0.009018,0.020469,...,0.001519,0.000047,0.039275,0.0,0.0,0.006956,0.003788,0.001013,0.005975,0.000258
25,0.041651,-0.004614,-0.003076,-0.004614,0.0,0.002329,0.005275,0.000101,0.000101,0.007703,...,0.000450,0.000327,0.003964,0.0,0.0,0.001399,0.002209,0.000300,0.002082,0.019047
26,0.022127,0.031669,0.021113,0.031669,0.0,0.003560,0.003133,-0.003439,-0.003439,0.005147,...,0.000463,0.001371,0.018976,0.0,0.0,0.002873,0.005554,0.000309,0.002520,0.004524
27,0.010490,-0.100779,-0.067186,-0.100779,0.0,0.084527,0.075077,0.006858,0.006858,0.164951,...,0.019650,-0.000822,0.304935,0.0,0.0,0.117697,-0.016228,0.013100,0.090092,-0.003038
28,0.009500,-0.003022,-0.002015,-0.003022,0.0,0.014403,0.122633,-0.001043,-0.001043,0.116322,...,0.012195,-0.002775,-0.152054,0.0,0.0,0.002442,-0.018879,0.008130,0.005438,0.016516
29,0.032199,-0.002509,-0.001673,-0.002509,0.0,0.000828,0.001166,-0.001598,-0.001598,0.000842,...,0.000125,0.000751,-0.000981,0.0,0.0,0.000267,0.001077,0.000083,0.000617,0.038792
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,0.006078,-0.013423,-0.008949,-0.013423,0.0,0.011585,0.006398,-0.009986,-0.009986,0.026543,...,0.003423,0.001271,0.049126,0.0,0.0,0.011919,0.004752,0.002282,0.010670,0.030685
420,-0.021331,0.003237,0.002158,0.003237,0.0,-0.010012,-0.025877,-0.005401,-0.005401,-0.018591,...,-0.002886,-0.005630,-0.029530,0.0,0.0,-0.009078,-0.003567,-0.001924,0.020743,-0.029259
421,0.022077,-0.004361,-0.002907,-0.004361,0.0,0.001653,0.008502,-0.003399,-0.003399,0.004440,...,0.001257,0.001428,0.005102,0.0,0.0,0.002030,0.000665,0.000838,0.001364,0.048210
422,0.003007,-0.003425,-0.002283,-0.003425,0.0,0.000474,-0.012258,-0.001177,-0.001177,-0.006270,...,0.000137,-0.000690,-0.010653,0.0,0.0,0.002678,0.001921,0.000091,0.001525,-0.024855
423,-0.043710,-0.008028,-0.005352,-0.008028,0.0,0.023483,0.057632,0.024373,0.024373,0.022861,...,0.001055,0.000494,0.266837,0.0,0.0,0.024042,0.002564,0.000703,0.014796,-0.029373
424,-0.001897,-0.000868,-0.000579,-0.000868,0.0,-0.000023,0.002301,0.003667,0.003667,0.000326,...,0.000108,-0.000121,0.000927,0.0,0.0,-0.000068,0.000196,0.000072,0.000115,-0.003194
425,-0.036084,-0.011428,-0.007619,-0.011428,0.0,0.018187,0.024357,-0.003864,-0.003864,0.031987,...,0.002204,0.000554,0.076430,0.0,0.0,0.017751,0.005462,0.001469,0.016849,-0.085134
426,-0.021475,0.034153,0.022769,0.034153,0.0,0.012637,-0.000603,-0.003309,-0.003309,0.022460,...,0.004309,0.001693,0.038097,0.0,0.0,0.019070,-0.000497,0.002872,0.018155,0.039585
427,0.003812,-0.004909,-0.003273,-0.004909,0.0,0.007451,0.018462,-0.001334,-0.001334,0.015595,...,0.000332,0.000482,0.024742,0.0,0.0,0.006137,0.002397,0.000221,0.004137,-0.036362
428,-0.003742,-0.002864,-0.001909,-0.002864,0.0,0.000262,0.001542,0.000740,0.000740,-0.000006,...,-0.000047,0.000208,0.001473,0.0,0.0,0.001692,-0.000598,-0.000031,0.001200,-0.012189
429,0.076765,-0.004291,-0.002861,-0.004291,0.0,0.004743,0.010791,-0.000653,-0.000653,0.012462,...,0.001187,0.001112,0.023506,0.0,0.0,0.004611,0.003552,0.000791,0.004064,0.043591
430,-0.020250,0.007507,0.005005,0.007507,0.0,0.006408,0.001434,0.013018,0.013018,0.014290,...,0.000208,-0.000126,0.019394,0.0,0.0,0.005910,0.008120,0.000139,0.004553,-0.003246
431,-0.017150,-0.011125,-0.007417,-0.011125,0.0,0.018883,-0.009061,-0.009369,-0.009369,0.029836,...,0.000193,-0.001126,0.103259,0.0,0.0,0.015775,0.008883,0.000129,0.013213,-0.060380
432,0.022176,-0.013954,-0.009302,-0.013954,0.0,0.003324,0.019807,0.011182,0.011182,0.007060,...,0.000854,0.001966,0.029795,0.0,0.0,0.006440,0.002456,0.000570,0.002081,0.057420
433,-0.007516,-0.013750,-0.009167,-0.013750,0.0,0.011118,-0.008641,-0.010342,-0.010342,0.017896,...,-0.001375,-0.001241,-0.010612,0.0,0.0,0.004517,0.015811,-0.000917,0.003726,0.011289
434,-0.008129,-0.000247,-0.000165,-0.000247,0.0,0.008350,0.004903,-0.007101,-0.007101,0.019338,...,0.000432,0.000111,0.025444,0.0,0.0,0.006934,0.005049,0.000288,0.006143,-0.037317
435,-0.002548,0.028460,0.018973,0.028460,0.0,0.006125,0.011650,-0.001480,-0.001480,0.017385,...,0.001188,0.001012,0.024564,0.0,0.0,0.006482,0.004221,0.000792,0.005078,0.008461
436,0.001333,0.006886,0.004591,0.006886,0.0,0.015280,-0.006428,0.011362,0.011362,0.029491,...,0.001162,-0.000225,0.025628,0.0,0.0,0.008793,0.006815,0.000775,0.008596,-0.034363
437,-0.023932,-0.003091,-0.002061,-0.003091,0.0,0.002212,0.038821,0.002703,0.002703,0.008045,...,0.001312,0.001407,0.029747,0.0,0.0,0.002089,0.002842,0.000875,0.000189,-0.036657
438,0.018132,0.000917,0.000612,0.000917,0.0,0.005151,0.010480,0.001140,0.001140,0.012574,...,0.000561,0.000377,0.018448,0.0,0.0,0.003146,0.003822,0.000374,0.002734,0.021157
439,-0.022157,-0.015017,-0.010012,-0.015017,0.0,0.007935,-0.002457,-0.000764,-0.000764,0.018861,...,0.000862,0.000853,0.032773,0.0,0.0,0.003407,0.008708,0.000575,0.005187,0.030132
440,-0.031138,0.012562,0.008374,0.012562,0.0,0.037638,0.016405,-0.002589,-0.002589,0.083158,...,0.004748,0.001105,0.137283,0.0,0.0,0.038607,0.012258,0.003166,0.033951,-0.038172
441,-0.035048,-0.027284,-0.018189,-0.027284,0.0,0.018405,0.006383,0.028080,0.028080,0.032356,...,0.001418,-0.000642,0.049139,0.0,0.0,0.014715,0.008981,0.000945,0.010796,0.005962
442,0.031275,0.071843,0.047895,0.071843,0.0,0.010749,0.009001,-0.003431,-0.003431,0.025047,...,0.002793,0.000474,0.031988,0.0,0.0,0.008961,0.009150,0.001862,0.007696,0.090167
443,0.000215,-0.000904,-0.000603,-0.000904,0.0,-0.001722,-0.000849,-0.003860,-0.003860,-0.001644,...,-0.000569,-0.000140,-0.047311,0.0,0.0,-0.001623,-0.000350,-0.000379,-0.002101,-0.009096
444,0.004413,-0.002982,-0.001988,-0.002982,0.0,-0.025783,0.236056,0.000565,0.000565,-0.031114,...,-0.000349,0.000329,0.005720,0.0,0.0,-0.017353,-0.002892,-0.000232,-0.024972,0.049300
445,0.020105,0.032336,0.021557,0.032336,0.0,0.020929,0.032592,0.007314,0.007314,0.027900,...,0.000255,-0.000319,0.203065,0.0,0.0,0.018857,0.006650,0.000170,0.012404,-0.098271
446,0.015862,-0.011977,-0.007985,-0.011977,0.0,0.007549,0.001465,0.009916,0.009916,0.019330,...,0.002869,0.001230,0.013882,0.0,0.0,0.004386,0.003565,0.001912,0.006804,0.137016
447,0.061603,-0.015970,-0.010647,-0.015970,0.0,0.011279,0.003281,-0.001239,-0.001239,0.026109,...,0.001439,0.001413,0.033679,0.0,0.0,0.009377,0.007068,0.000960,0.009139,-0.002388
448,-0.002843,0.014635,0.009756,0.014635,0.0,0.000292,0.001569,0.009634,0.009634,0.000779,...,0.000042,0.000131,-0.002507,0.0,0.0,0.000661,0.001144,0.000028,0.000557,-0.006595

### Take a particular user_id

### Lets find the recommendations for user with id `2110`

#### Note: Execute the below cells to get the variables loaded

In [599]:
userID = 2110

In [600]:
user_id = 2 #2nd row in ratings matrix and predicted matrix

### Get the predicted ratings for userID `2110` and sort them in descending order

In [601]:
def recommend_books(predictions_df, userID, user_row_number, books_df, original_ratings_df, num_recommendations = False):
    user_row_number = user_row_number - 1  #UserID starts at zero not 1
    sorted_user_predictions = predictions_df.loc[user_row_number].sort_values(ascending = False)
    
    user_data = original_ratings_df[original_ratings_df.userID == (userID)]
    user_full = (user_data.merge(books_df, how = 'left', left_on = 'ISBN', right_on = 'ISBN').
                sort_values(['bookRating'], ascending = False)
                )
    print('User {0} has already rated {1} books.'.format(userID, user_full.dropna().shape[0]))
    print('Recommending the highest {0} predicted ratings books not already rated.'.format(num_recommendations))
    
    recommendations = (books_df[~books_df['ISBN'].isin(user_full['ISBN'])].
                      merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left',
                           left_on = 'ISBN',
                           right_on = 'ISBN').
                      rename(columns = {user_row_number: 'Predictions'}).
                      sort_values('Predictions', ascending = False).
                      iloc[:num_recommendations, :-1])
    return user_full, recommendations, sorted_user_predictions, user_data, user_full

In [602]:
already_rated, predictions, sorted_user_predictions, user_data, user_full = recommend_books(preds_df, userID, user_id,books, ratings, 10)

User 2110 has already rated 103 books.
Recommending the highest 10 predicted ratings books not already rated.

In [603]:
sorted_user_predictions

ISBN
059035342X    0.670207
044021145X    0.335010
0345370775    0.326200
0345384911    0.323808
0440213525    0.303738
0880389117    0.294164
0380759497    0.286410
0439064872    0.280313
0316666343    0.269477
0441845630    0.258484
0060392452    0.250820
0345317580    0.248826
0345348109    0.248578
043935806X    0.247523
0618002235    0.245761
0345353145    0.242574
0345335287    0.238556
0451160525    0.230056
0451180232    0.229447
0425109720    0.218258
0425147622    0.213593
0441172717    0.212400
1558531564    0.211671
1560763361    0.210520
0439139597    0.208522
043936213X    0.207282
0449221512    0.202139
0345367693    0.200714
0345380371    0.199478
0440206154    0.195434
                ...
0515114006   -0.038246
0062501860   -0.038576
0684810395   -0.038649
0671673688   -0.038670
0553285785   -0.038878
0553801430   -0.038890
0515127833   -0.039842
051511779X   -0.040447
0515114693   -0.040472
0060977744   -0.040884
0385311109   -0.041742
0385316895   -0.041742
0451403789   -0.041742
0441790348   -0.042256
0345331605   -0.042291
0425140032   -0.042361
0684195976   -0.042991
0688142877   -0.043412
0553564528   -0.043983
0399140093   -0.044653
0671816500   -0.045511
0425191281   -0.045770
042518630X   -0.047894
0553295977   -0.048692
0515119652   -0.049167
042511984X   -0.049180
0345313860   -0.049305
0671450344   -0.050616
0553569783   -0.055609
0553561618   -0.059308
Name: 1, Length: 66572, dtype: float64

### Create a dataframe with name `user_data` containing userID `2110` explicitly interacted books

In [604]:
user_data.head()

       index  userID        ISBN  bookRating
209   670445    2110  0553073273         9.0
334   670434    2110  0440920221         6.0
1977  670404    2110  0373642849         6.0
4797  670415    2110  0373765649         8.0
7907  670461    2110  0671038931         8.0

In [605]:
user_data.shape

(103, 4)

### Combine the user_data and and corresponding book data(`book_data`) in a single dataframe with name `user_full_info`

In [606]:
user_data.head()

       index  userID        ISBN  bookRating
209   670445    2110  0553073273         9.0
334   670434    2110  0440920221         6.0
1977  670404    2110  0373642849         6.0
4797  670415    2110  0373765649         8.0
7907  670461    2110  0671038931         8.0

In [607]:
book_data=books

In [608]:
book_data.shape

(271355, 5)

In [609]:
book_data.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [610]:
user_full_info = (user_data.merge(book_data, how = 'left', left_on = 'ISBN', right_on = 'ISBN').
                sort_values(['bookRating'], ascending = False)
                )

In [611]:
user_full_info.head()

,index,userID,ISBN,bookRating,bookTitle,bookAuthor,yearOfPublication,publisher
51,670425,2110,0394843509,10.0,Reel Trouble (The Three Investigators Crimebus...,G. H. Stone,1989,Random House Children's Books
53,670429,2110,0439222303,10.0,"Poof! Rabbits Everywhere! (Abracadabra!, 1)",Peter Lerangis,2002,Little Apple
21,670345,2110,0590629786,10.0,"The Visitor (Animorphs, No 2)",K. A. Applegate,1996,Scholastic
22,670456,2110,0590629778,10.0,"The Invasion (Animorphs, No 1)",K. A. Applegate,1996,Scholastic
23,670454,2110,059046678X,10.0,The Yearbook,Peter Lerangis,1994,Scholastic

### Get top 10 recommendations for above given userID from the books not already rated by that user

In [612]:
predictions

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
455,044021145X,The Firm,John Grisham,1992,Bantam Dell Publishing Group
1192,0345370775,Jurassic Park,Michael Crichton,1999,Ballantine Books
6184,0345384911,Crystal Line,Anne McCaffrey,1993,Del Rey Books
3781,0440213525,The Client,John Grisham,1994,Dell Publishing Company
54653,0880389117,Flint the King (Dragonlance: Preludes),Mary Kirchoff,1990,Wizards of the Coast
976,0380759497,Xanth 15: The Color of Her Panties,Piers Anthony,1992,Eos
3413,0439064872,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,2000,Scholastic
407,0316666343,The Lovely Bones: A Novel,Alice Sebold,2002,"Little, Brown"
81942,0441845630,Unicorn Point (Apprentice Adept (Paperback)),Piers Anthony,1990,ACE Charter
2758,0060392452,Stupid White Men ...and Other Sorry Excuses fo...,Michael Moore,2002,Regan Books